* {
  background-color: antiquewhite;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Header {
  font-size: 50px;
  cursor: pointer;
}

#Header:hover {
  text-shadow: 2px 2px 2px gray;
}

.Header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.GameItem {
  border: 5px solid black;
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
}

.GameItem:hover {
  border: 0;
  -webkit-box-shadow: 9px 7px 47px 10px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 9px 7px 47px 10px rgba(0, 0, 0, 0.33);
  box-shadow: 9px 7px 47px 10px rgba(0, 0, 0, 0.33);
}

.SearchArea {
  margin: 10px;
}

.FilterArea {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.FilterArea button {
  margin: 5px;
  font-size: 18px;
  background-color: inherit;
  border-radius: 10px;
  border-width: 3px;
  font-weight: 500;
}

.FilterArea button:hover {
  background-color: #d7e6fa;
}

@media only screen and (min-width: 320px) {
  .Header {
    height: 40vh;
  }

  [class*="GameItem"] {
    width: 50%;
  }
  .FilterArea button {
    font-size: 13px;

    width: 80px;
  }

  #Header {
    font-size: 50px;
  }
}

@media only screen and (min-width: 580px) {
  [class*="GameItem"] {
    width: 40%;
  }

  #Header {
    font-size: 70px;
  }
}

@media only screen and (min-width: 768px) {
  [class*="GameItem"] {
    width: 30%;
  }

  .FilterArea button {
    font-size: 20px;
    width: 120px;
  }

  #Header {
    font-size: 90px;
  }
}

@media only screen and (min-width: 1440px) {
  [class*="GameItem"] {
    width: 15%;
  }

  .FilterArea button {
    font-size: 20px;
    width: 120px;
  }

  #Header {
    font-size: 150px;
  }
}
